<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mozeeb.nanduryok">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".activity.GlobalActivity"
        android:allowBackup="false"
        android:icon="@drawable/ecology"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.Splashscreen"></activity>
        <activity android:name=".activity.detailTumbuhan.DetailTumbuhanActivity">

        </activity>
        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/title_activity_home" />
        <activity android:name=".activity.register.RegisterActivity" />
        <activity android:name=".activity.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>